@mixin button-link {
  font-size: $_h4_size;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 45px;
  background-color: $_button_normal_color;
  &:hover {
    background-color: $_button_hover_color;
  }
  &:active {
    background-color: $_button_active_color;
    box-shadow: 0 10px 10px rgba(255, 67, 67, 0.5);
    transform: scale(0.98);
  }
}
@mixin contacts-title {
  font-size: $_h5_size;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: block;
}
@mixin contacts-text {
  font-size: $_h5_size;
  font-weight: 400;
  color: #fff;
  text-align: center;
}