// Переменные цвета
$_button_normal_color:#FF4343;
$_button_hover_color:#E71414;
$_button_active_color:#FF4343;
$_navigation_normal_color:white;
$_navigation_active_color:#E71414;
$_h4_color:#2D3033;

// Переменные размера шрифта
$_h1_size:4rem;
$_h2_size:2.25rem;
$_h3_size:1.875rem;
$_h4_size:1.5rem;
$_h5_size:1.125rem;
$_h6_size:0.8125rem;
$_h1_size_tablet:3rem;
