header {
  padding: 36px 0 120px;
  background-image: url(../../backgrounds/header-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: red;
  position: relative;
  //    z-index: 2
}
header::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(37, 43, 73, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.container_header {
  position: relative;
  z-index: 2;
}
.nav_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
  border-bottom: 1px solid #babbc5;
}
.nav_logo_img {
  img {
    width: 183px;
    height: 23px;
  }
}
.nav-list-header {
  display: flex;

  &__item {
    margin-left: 40px;

    a {
      font-size: $_h6_size;
      font-weight: 700;
      color: $_navigation_normal_color;
      &:hover {
        border-bottom: 3px solid #babbc5;
        padding-bottom: 32px;
        transition: 0.2s;
      }
      &:active {
        color: #e71414;
        border-bottom: 3px solid #e71414;
        padding-bottom: 32px;
        transition: 0.2s;
      }
    }
  }
}
.h1-header {
  font-size: $_h1_size;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  margin: auto;
  text-align: center;
  margin-top: 130px;

  @media (max-width: 980px) {
    font-size: $_h1_size_tablet;
  }
  @media (max-width: 450px) {
    font-size: $_h2_size;
  }
}
.header-text {
  margin: auto;
  p {
    font-size: $_h4_size;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin-top: 32px;
  }
  @media (max-width: 980px) {
    font-size: $_h5_size;
  }
  @media (max-width: 450px) {
        font-size: $_h6_size;
      }
  }
  .header-button {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    a {
      @include button-link;
      
      @media (max-width: 980px) {
        padding: 10px 30px;
      }
    }
  }
  