@import './fonts';
@import './variables';
@import './mixins';
@import './header.scss';
@import './advantages.scss';
@import './testimonials.scss';
@import './download.scss';
@import './contacts.scss';
@import './footer.scss';
@import './swiper.scss';


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    }

html {
    font-family:"Raleway", serif;
    }
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
    background-color: transparent;
    @media (max-width:980px) {
        max-width: 980px;
    }
    @media (max-width:450px) {
        max-width: 450px;
    }
}
